<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">Action Alert: Attend the Metro Transportation Task Force Meeting. Wed Oct 30, 5:30PM. Metro Regional Center council chamber, 600 NE Grand Ave, Portland. Wear red!</div>
    <div class="ticker__item">Rose Lane Project at City Council @ Portland Community College Southeast Campus, Community Hall. 6pm, Tues Nov 7th!</div>
    <div class="ticker__item">Support a bike- and pedestrain-friendly Willamette River Crossing to Lake Oswego by attending the Lake Oswego City Council Meeting. 6:30 pm, Tues Nov 7th. </div>
  </div>
</div>
