<div class="ticker-wrap">
  <div class="ticker">
    <div class="ticker__item">Action Alert: Join us Tuesday 11/19 at the Portland PSC to add Sandy Blvd to our bike network</div>
    <div class="ticker__item">Rose Lane Project at City Council @ Portland Community College Southeast Campus, Community Hall. 6pm, Tues Nov 7th!</div>
    <div class="ticker__item">Support a bike- and pedestrain-friendly Willamette River Crossing to Lake Oswego by attending the Lake Oswego City Council Meeting. 6:30 pm, Tues Nov 7th. </div>
  </div>
</div>
